@import url('fonts.css');

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.cards {
    display: flex;
    gap: 1em;
    width: 80%;
}

.card {
    flex: 1 0 120px;
    height: 100%;
    margin: auto;
    border-radius: 16px;
    background-color: #ffffff40;
    backdrop-filter: blur(32px) brightness(110%);
    -webkit-backdrop-filter: blur(32px) brightness(110%);
    box-shadow: 0px 4px 4px #00000010, inset 0px -1px 1px #ffffff20, inset 0px 1px 1px #ffffff40;
    transition: all .5s ease-in-out;
    padding: 0 1em;
    position: relative;
    user-select: none;

}

/* .card:hover, */
.cardSelected {
    flex: 10;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#main {
    display: flex;
    gap: 2em;
    width: 100%;
    height: 100%;
    padding: 2em;
    box-sizing: border-box;
}

#right {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20%;
    min-width: 300px;
}
#right .card {
    margin: 0;
}

#right .card:first-child {
    flex: 6;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Sk-Modernist-Regular', sans-serif;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1em;
}

#footer p {
    margin: 0;
    font-size: 1.1em;
}

#main .card:not(.cardSelected) .cardContent {
    opacity: 0;
}

.cardTitle {
    text-align: center; 
    font-size: 4em;
    margin: auto;
    color: #fff;
    width: 100%; 
    /* l'animation de recalage du texte vien du width */
}

.card:not(.cardSelected) .cardTitle {
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 5em;
    transition: all 0.5s ease-in-out;
}


#hour {
    color: #fff;
    text-align: center;
    font-family: 'Sk-Modernist-Mono', sans-serif;
    padding: 20px;
    box-sizing: border-box;
    gap: 1em;
    display: flex;
    flex-direction: column;
}

#clock-location {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 0.5em 1em;
    margin: 0;
}

#clock div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 3em;
    padding: 0.2em;
}

#clock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}