#block6 {
    position: absolute;
    height: 100px;
    width: 260px;

    top: 270px;
    right: 0px;

    overflow: hidden;
}

#block6 .block6-btns {
    position: absolute;
    top: 15px;
    right: 25px;

    width: 126px;
    gap: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#block6 .block6-btns svg {
    width: 36px;
    height: 36px;
    transition: transform 0.4s ease-out;
}

#block6 .block6-btns svg:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease-out;
}



#block6 .block6-email {
    position: absolute;
    left: 0;
    bottom: 0px;

    height: 40px;
    width: 100%;

    font-size: 14px;
    font-weight: bold;
    color: #312531;

    display: flex;
    align-items: center;
    justify-content: center;
}

#block6 .block6-email a {
    text-decoration: none;
    font-weight: bold;
    color: currentColor;
}

#block6 .block6-email a:hover {
    text-decoration: underline;
}


/* ================================== MOBILE STYLES ================================== */
@media (max-width: 900px) {
    #block6 {
        width: 100%;
        height: auto;
        top: 0;
        right: 0;
        padding: 5vw 0;
    }

    #block6 .block6-btns {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        justify-content: center;
        gap: 10vw;
    }

    #block6 .block6-btns svg {
        width: 12.5vw;
        height: 12.5vw;
    }
}