#block4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    z-index: 2;
}


#block4 .block4-title {
    position: absolute;
    top: 10px;
    left: 15px;

    font-size: 16px;
    font-weight: 600;
    color: #fff;

    display: flex;
    align-items: center;
    gap: 5px;
}

#block4 .block4-title svg {
    width: 24px;
    height: 24px;
}

#block4 .block4-title span {
    font-size: 16px;
    font-weight: 600;
}



#block4 .block4-content {
    position: absolute;
    top: 40px;
    left: 15px;
    width: calc(100% - 30px);
    height: 125px;

    border-radius: 10px;

    overflow: hidden;
}


.slider {
    overflow: hidden;
    height: 100%;
    width: 100%;

}

.slider__container {
    display: flex;
    height: 100%;
    width: 100%;
}

.slider__slide {
    position: relative;
    flex: 0 0 40%;
    min-width: 120px;
    background: none;
    height: 100%;
    width: 100%;
    margin: 0 5px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.slider__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.slider__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.slider__slide:hover .slider__overlay {
    opacity: 1;
}

.slider__text {
    color: white;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    transform: translateY(5vw);
    opacity: 0;
    transition: all 0.4s ease;
}

.slider__slide:hover .slider__text {
    transform: translateY(0);
    opacity: 1;
}


.slider__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 10px;
    gap: 20px;

    width: 175px;
    height: 75px;
}

.slider__button {
    -webkit-tap-highlight-color: #fff;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.slider__button:disabled {
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}

.slider__button__svg {
    width: 35px;
    height: 35px;
}


/* ================================== MOBILE STYLES ================================== */
@media (max-width: 900px) {
    #block4 {
        width: 100%;
        height: auto;
        background: none;
        border: none;
        padding: 0;
        position: relative;
        top: -5vw;
        margin-bottom: -5vw;
    }

    #block4 .block4-title {
        left: 3.75vw;
        top: 2.5vw;
        gap: 1.25vw;
    }

    #block4 .block4-title svg {
        width: 6vw;
        height: 6vw;
    }

    #block4 .block4-title span {
        font-size: 4vw;
    }


    #block4 .block4-content {
        top: 14vw;
        left: 2vw;
        width: calc(100% - 6vw);
        height: 37vw;
    }

    .slider__slide {
        flex: 0 0 65%;
    }

    .slider__slide .slider__overlay {
        opacity: 1;
    }

    .slider__slide .slider__text {
        transform: translateY(0);
        opacity: 1;
    }

}