#block3 {
    position: relative;
    height: 365px;
    width: 330px;
    left: 0;
    top: 0;
    background-color: #FD9AFB;
    border-radius: 25px;
    color: #312531;
    padding: 15px 15px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#block3 .block3-title {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 5px;

    margin-bottom: 10px;
}

#block3 .block3-title svg {
    width: 24px;
    height: 24px;
}

#block3 .block3-title span {
    font-size: 16px;
    font-weight: 600;
}

#block3 .block3-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#block3 .block3-content .block3-content-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


#block3 .block3-content .block3-content-item .block3-content-item-title {
    font-weight: bold;
    font-size: 15px;
}

#block3 .block3-content .block3-content-item .block3-content-item-text {
    font-weight: 400;
    font-size: 14px;
}

#block3 .block3-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    gap: 5px;

    width: 100%;
}

#block3 .block3-footer .bold {
    font-weight: bold;
}

#block3 .block3-footer a {
    color: inherit;
    text-decoration: none;
}


#block3 .block3-footer a:hover {
    text-decoration: underline;
}




/* ================================== MOBILE STYLES ================================== */
@media (max-width: 900px) {
    #block3 {
        width: 100%;
        height: auto;
        background: none;
        border: none;
        padding: 0;
        position: relative;
        margin-top: 5vw;
    }


    #block3 .block3-title {
        position: absolute;
        left: 3.75vw;
        top: 3vw;
        gap: 1.25vw;
    }

    #block3 .block3-title svg {
        width: 6vw;
        height: 6vw;
    }

    #block3 .block3-title span {
        font-size: 4vw;
    }

    #block3 .block3-content {
        position: absolute;
        top: 13.5vw;
        left: 3.75vw;
    }


    #block3 .block3-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #block3 .block3-content .block3-content-item {
        gap: 1.25vw;
    }


    #block3 .block3-content .block3-content-item .block3-content-item-title {
        font-size: 3.75vw;
    }

    #block3 .block3-content .block3-content-item .block3-content-item-text {
        font-size: 3.5vw;
    }


    #block3 .block3-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10vw;
        font-size: 3vw;
    }
}